/* *{
    background-color: cornsilk;
    font-weight:500;
}
.box2{
	
	background:red;
	text-align:center;
	color: #fff;
}

.Box-green{
	background-color: rgb(14, 102, 192);
	height: 500px;
	width: 500px;
} */

 
/* .card{
	 margin: 3px; 
	padding: 5px;
}  */
